/*
Inspired by Shaw Howe's Tutorial and my Pop Culture knowledge
http://learn.shayhowe.com/html-css/
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GRID */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h6, p {
  margin-bottom: 22px;
}
h1, h2, h3, h4 {
  color: #492C49;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
  line-height: 44px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #895289;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 44px;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/* LINKS */

a {
  color: #492C49;
  text-decoration: none;
}
a:hover {
  color: #895289;
}
.teaser a:hover h3 {
  color: #895289;
}

/* BUTTONS */

.btn {
  border-radius: 5px;
  color: #D2BCD2;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}
.btn-alt:hover {
  background: #dfe2e5;
  color: #492C49;
}
.btn-default {
  border: 0;
  background: #895289;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #492C49;
}

/* INDEX / HOME */

.heroines {
  line-height: 24px;
  padding: 11px 60px 11px 60px;
  text-align: center;
}
.heroines h2 {
  font-size: 22px;
}
.heroines p {
  font-size: 16px;
  font-weight: 100;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/* CLEARFIX */

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* ROWS */

.row {
  background: #fff;
  min-width: 960px;
  padding: 20px 0 20px 0;
}
.row,
.row-alt {
  min-width: 960px;
}
.row-alt {
  padding-top: 40px;
  background: #fff;
}

/* PRIMARY HEADER */

.logo {
  border-top: 4px solid #492C49;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  color: #492C49;
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: right;
}
.primary-header a,
.primary-footer a {
  color: #D2BCD2;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #492C49;
}

/* PRIMARY FOOTER */

.primary-footer {
  color: #492C49;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/* NAVIGATION */

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/* CUSTOM STYLES */

body {
  background: #C878C9;
  color: #492C49;
  font: 300 16px/22px "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEROINES */

.heroine-info {
  border: 1px solid #895289;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center;
}
.heroine-info img {
  border-radius: 5px;
  height: 200px;
  margin: 0 0 22px 0;
  vertical-align: top;
}
.heroine {
  margin-bottom: 44px;
}

/* VENUE */

.venue {
  margin-bottom: 22px;
}
.map {
  height: 264px;
}

/* CONTACT */
.why-hang {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label {
  color: #492C49;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #895289;
  border-radius: 5px;
  color: #492C49;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group select {
  width: 100%;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 100%;
}
.register-group textarea {
  height: 78px;
}

/* HEROINE OVERVIEW */

table {
  margin-bottom: 24px;
  width: 100%;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: #895289;
  font-size: 24px;
}
.second-row {
  text-align: left;
}
tbody th {
  color: #895289;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  text-transform: uppercase;
}
tbody img {
  border-radius: 50%;
  width: 30%;
}

/* FAQ */
dd {
  margin-left: 40px;
}

/* QUOTES */

blockquote {
  margin: 20px 40px;
}
p:first-of-type {
  margin-bottom: 1em;
}
p:last-of-type {
  margin-top: 1em;
}
